@media screen and (min-width: 900px){
    .footer{
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        div{
            width: 180px;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 4px;
            font-family: 'Comfortaa', cursive;
            border-bottom: solid white 1px;
            p{
                text-align: center;
                color: #BABABA;
            }
            svg{
                cursor: pointer;
            }
        }
        
    }
}

@media screen and (max-width: 900px){
    .footer{
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        div{
            width: 180px;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 4px;
            font-family: 'Comfortaa', cursive;
            border-bottom: solid white 1px;
            p{
                text-align: center;
                color: #BABABA;
            }
            svg{
                cursor: pointer;
            }
        }
        
    }
}