@media screen and (min-width: 900px){
    .header{
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Comfortaa', cursive;
        .container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-items: center;
            width: 100%;
            .container_left{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 25px;
                color: #BABABA;
                width: 15%;
                div{
                    letter-spacing: 0.05em;
                    font-weight: 500;
                    font-size: 18px;
                    cursor: pointer;
                }
                .home_icon{
                    width: 20px;
                    height: 20px;
                    margin-bottom: 4px;
                    color: #BABABA;
                }
            }
            .container_right{
                width: 10%;
                justify-content: flex-end;
            }
        }
        .dev{
            width: 10%;
            align-self: flex-end;
            text-align: center;
            color: #BABABA;
            font-size: small;
        }
    }
}

@media screen and (max-width: 900px){
    .header{
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Comfortaa', cursive;
        .container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            margin: auto;
            margin-bottom: 0px;
            margin-top: 0px;
            .container_left{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                color: #BABABA;
                width: 40%;
                gap: 5px;
                div{
                    letter-spacing: 0.05em;
                    font-weight: 500;
                    font-size: 18px;
                    cursor: pointer;
                }
                .home_icon{
                    width: 20px;
                    height: 20px;
                    margin-bottom: 4px;
                    color: #BABABA;
                }
            }
            .container_right{
                width: 40%;
                justify-content: flex-end;
            }
        }
        .dev{
            width: 50%;
            align-self: flex-end;
            text-align: center;
            color: #BABABA;
            font-size: small;
        }
    }
}

