
@media screen and (min-width: 900px){
    .BtnS_Container{
        width: 100%;
        height: 45px;
        border-radius: 40px;
        background: linear-gradient(90deg, #858585 0%, #735CFF 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        a{
            text-align: center;
            color: white;
            text-decoration: none;
            letter-spacing: 0.2em;
        }
    }
}
@media screen and (max-width: 900px){
    .BtnS_Container{
        width: 100%;
        height: 45px;
        border-radius: 40px;
        background: linear-gradient(90deg, #858585 0%, #735CFF 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        a{
            text-align: center;
            color: white;
            text-decoration: none;
            letter-spacing: 0.2em;
        }
    }
}