.app{
    background-color: #404040;
}

.container{
   height: 100vh; 
   width: 90%;
   margin-right: auto;
   margin-left: auto;

   .h{
    height: 10%;
   }
   .m{
       height: 90%;
   }
   .f{
       height: 10%;
   }
}